.pos {
	width:200px;
	border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding:20px;
    text-align:center;
    margin:10px auto;
    display:block;
}
#con {
	display:none;
}